<%= form_with(model: task, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :deadline %>
    <%= f.datetime_select :deadline, class: "form-control bootstrap-date" %> <%# FIXME: bootstrap 4 で正しく適用されない %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
