<div class="row row-striped my-5">
  <div class="col-3 col-sm-2">
    <h1 class="display-4 mx-auto text-right">
      <span class="badge badge-secondary mw-100 text-center"><%= task.deadline.in_time_zone('Tokyo').day %></span>
    </h1>
    <h2 class="text-right"><%= task.deadline.in_time_zone('Tokyo').strftime("%b.") %></h2>
  </div>
  <div class="col-9 col-sm-8">
    <h3 class="text-uppercase"><strong><%= link_to task.name, task, class: "text-info" %></strong></h3>
    <ul class="list-inline">
      <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i><%= task.deadline.in_time_zone('Tokyo').strftime("%m/%d(#{%w(日 月 火 水 木 金 土)[task.deadline.in_time_zone('Tokyo').wday]})") %></li>
      <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i><%= task.deadline.in_time_zone('Tokyo').strftime("%H:%M:%S") %></li>
      <% remaining_time = task.deadline.in_time_zone('Tokyo') - Time.zone.now %>
      <li class="list-inline-item">
        <%= distance_of_time_in_words(remaining_time) %>
      </li>
      <!-- <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Cafe</li> -->
    </ul>
    <div class="bilbo-font">
      <span id="remainingDays-<%= task.id %>"></span> days <span id="remainingTime-<%= task.id %>"></span> <%# FIXME: days と day を動的に変更できるようにする  %>
    </div>

    <%# HACK: task.scss に移植 %>
    <style>
      #remainingDays-<%= task.id %>, #remainingTime-<%= task.id %> {
        font-size: 4.5rem;
      }
    </style>

    <%# HACK: task.js.coffee に移植 %>
    <%= javascript_tag do %>
      window.task = <%= raw task.to_json %>;
    <% end %>
    <script>
      console.log(task)
      console.log(task.deadline)
      // FIXME: targetをUTCで取得したい
      var target<%= task.id %> = new Date(task.deadline);
      var target<%= task.id %>_local = new Date(task.deadline);
      console.log(target<%= task.id %>.getTimezoneOffset());
      console.log(target<%= task.id %>.getHours());
      console.log(target<%= task.id %>.getMinutes());
      console.log(target<%= task.id %>.getSeconds());

      function getResult<%= task.id %>() {
        // var now<%= task.id %> = Date.UTC();
        var now<%= task.id %>_local = new Date();

        // FIXME: 内部計算はUTCのままにしたい
        //   target<%= task.id %> - now<%= task.id %>
        var diff = (target<%= task.id %>_local - now<%= task.id %>_local) / 1000;


        // 時刻情報を取得
        if(diff < 0) {
          var d = 0;
          var h = 0;
          var m = 0;
          var s = 0;
        }
        else {
          var d = Math.floor(diff / 60 / 60 / 24);
          diff = diff - 60 * 60 * 24 * d;

          var h = Math.floor(diff / 60 / 60);
          diff = diff - 60 * 60 * h;

          var m = Math.floor(diff / 60);
          diff = diff - 60 * m;

          var s = Math.floor(diff);
        }

        if(d <= 1) {
          document.getElementById('remainingDays-<%= task.id %>').style.color = "red";
          document.getElementById('remainingTime-<%= task.id %>').style.color = "red";
        }

        document.getElementById('remainingDays-<%= task.id %>').innerHTML = d;
        document.getElementById('remainingTime-<%= task.id %>').innerHTML = `${padZero(h)}:${padZero(m)}:${padZero(s)}`;

        // リロードなしに時刻をカウントダウン
        setTimeout(function() {
          getResult<%= task.id %>();
        }, 200);
      };

      getResult<%= task.id %>();

      function padZero(n) {
        return (n < 10) ? `0${n}` : n
      }

    </script>

    <% if defined? comment %>
      <% unless comment.nil?  %>
        <p>
          <%= truncate(comment.content, omission: '・・・', length: 20) %>
        </p>
      <% end %>
    <% end %>
  </div>
  <div class="col-12 col-sm-2">
    <ul class="list-inline">
      <li class="list-inline-item btn btn-link">
        <%= link_to 'Edit', edit_task_path(task), class: "btn btn-secondary" %>
      </li>
      <li class="list-inline-item btn btn-link">
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
      </li>
    </ul>
  </div>
</div>
