<div class="container">
  <div class="row">
    <div class="">
      <h1>Show Task</h1>
      <%= render @task %>
      <ul class="list-inline">
        <li class="list-inline-item btn btn-link">
          <%= link_to 'Edit', edit_task_path(@task) %>
        </li>
        <li class="list-inline-item btn btn-link">
          <%= link_to 'Back', tasks_path %>
        </li>
      </ul>
    </div>
  </div>
  <%= render @comments %>
  <%= render 'comments/form', task: @task, comment: @comment %>
</div>
