<!DOCTYPE html>
<html>
  <head>
    <title>Tackle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar-header">
      <nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light">
        <a href="/" class="navbar-brand">Tackle</a>
        <ul class="nav navbar-nav ml-auto">
          <%# TODO: ログイン時とログアウト時でナビを振り分ける  %>
          <li class="nav-item"><%= link_to 'Tasks', tasks_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to 'New Task', new_task_path, class: "nav-link" %></li>
          <!-- <li class="nav-item"><%# link_to 'Profile', session_path(current_user), class: "nav-link disabled" %></li> -->
          <li class="nav-item"><%= link_to 'Profile', '#', class: "nav-link disabled" %></li>
          <!-- <li class="nav-item"><%# link_to 'Logout', destroy_user_session, class: "nav-link disabled" %></li> -->
          <li class="nav-item"><%= link_to 'Logout', '#', class: "nav-link disabled" %></li>
          <!-- <li class="nav-item"><%# link_to 'Sign up', new_user_registration, class: "nav-link disabled" %></li>
          <li class="nav-item"><%# link_to 'Log in', new_user_session, class: "nav-link disabled" %></li> -->
        </ul>
      </nav>
    </header>

    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert <%= "alert-#{message_type}" %>"><%= message %></div>
      <% end %>
    </div>

    <div class="container-fluid my-3">
      <%= yield %>
    </div>

    <footer class="footer bg-light">
      <div class="container text-center">
        <h1><a href="/" class="text-muted">Tackle</a></h1>
        <p class="text-muted">
          &copy; 2018 kuro
        </p>
      </div>
    </footer>

  </body>
</html>
